a.cartes, a.cartes:visited, a.cartes:hover {
    color: #5a8c07;
    font-weight: bold;
    margin-left: 5px;
}

a.buttonD  {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background-color: #cecece;
    color: grey;
    margin: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right : 5px;

    pointer-events: none;
    cursor: default;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background-color: #5a8c07;
    color: white;
    margin: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right : 5px;
}

#dashboard {
    margin-top : 5px;
    margin-bottom: 5px;
}

#dashboard > b {
    margin-left: 10px;
}