#zone_edit {
    position : relative;
    height: 1000px;
    width : 1000px;
    left : 25px;
}

#toolbox {
    position : fixed;
    top : 17%;
    left : 25px;
    height : 570px;
    width : 210px;
}


#toolsquare {
    rx : 20;
    ry : 20;
    fill : green;
    stroke : black;
    stroke-width : 3;
}

#tools {
    padding: 15px;
}

.tool {
    position : relative;
    left : 2px;
    height : 50px;
    width : 175px;
}

.draggable {
    cursor: move;
}

.toolbox-p {
    font-size : 12px;
    float : left;
}

.color-input {
    float : right;
}

.svgtext {
    border:2px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
}

input[type=text] {
    text-align: center;
    -webkit-border-radius: 5px;
}

input[type=color] {
    -webkit-border-radius: 5px;
}

input[type=button] {
    text-align: center;
    -webkit-border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

.line{
    cursor : pointer;
}

