footer
{
	background : url("../IMAGES/fond.jpeg");
    background-size: 150% 200%;
	padding: 1em;
	border-radius: 15px;
	margin-top : 350px;
	height: 195px;
    text-align: center;
    color : white;
}

#developTitre {
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 30px;
    font-family: "Sketch";
}
