#cadre {
    text-align: left;
    border : solid 1px #6d8c0e;
    width: 300px;
    height: auto;
}

#error {
    color: #FF0000;
    text-align: center;
    font-size: 14px;
}

#titre {
    background-color: #5a8c07;
    color: #FFFFFF;
    padding: 3px;
    font-weight: bold;
}

#formulaire {
    margin-right: 30px;
    margin-bottom: 30px;
}

#inputs {
    margin-top: 10px;
    margin-left: 30px;
}

.submit {
    margin-left: 90px;
    margin-bottom: 15px;
}

input[type='text'],input[type='email'],input[type='password']
{
	width : 100%;
	border:none;
	/*background:green;*/
	border-bottom:dashed 1px #5a8c07;
	Font-Weight: Bold;
	
	
}
label
{
	font-size: 16px;
	Font-Weight: Bold;
	color : #5a8c07;
}

a#forget, a#forget:visited, a#forget:hover {
    color : #5a8c07;
}
