/* css pour la gestion users */
#cadreU {
    text-align: center;
    min-width: 35%;
    width: 30%;
    height: auto;
}
#titreU {
    background-color: #5a8c07;
    color: #FFFFFF;
   /* padding: 3px;*/
    font-weight: bold;
    font-size: 20pt;
   /*min-width:100%;*/
}

table, th, td {
    border : 1px black solid;
    border-collapse: collapse;
    text-align : center;
   /* padding-left : 10px;
    padding-right: 10px;*/
}
table {
    min-width:100%;
    width: 100%;
    /*margin-left: 15%;*/
}

th:first-letter {
    text-transform: capitalize;
}

th {
    background-color: darkgrey;
    color: white;
}

tr:nth-child(odd) {
   /* background-color: darkgrey;*/
}
#blocU
{
    margin-top : 10%;
}