*{
	font-family: arial;
}

body {
    background-color: rgba(141,176,56, 0.2);
    overflow-x: hidden;
}

header
{
	top: 0px;
	background : url("../IMAGES/fond.jpeg");
    background-size: 100% 400%;
	color : white;
	text-align: center;
	margin-top : -42px;
	border-radius: 15px;
	
}

#menu1
{
	float:right;
	position : relative;
	bottom : 92px;
	left : 7%;
	list-style-type : none;
}
#maison
{
	width : 30px;
	height : 30px;
	position : relative;
	float : left ;
	bottom : 85px;
    left : 20px;
}

#connex
{
	width : 100px;
	border-radius : 5px;
}
#deco
{
	width : 100px;
	border-radius : 5px;
}
#bienvenu
{
    position : relative;
    float : right ;
    bottom : 90px;
    right : 150%;
    margin-top : 90px;
}

#buttonsNav
{
    position : relative;
    float : right ;
    bottom : 90px;
    right : 100%;
    margin-top : 100px;
}


#title {
    font-family: "Sketch";
    font-size: 50px;
    color: white;
    font-weight: lighter;
    padding-top: 10px;
}

#atitle {
    text-decoration: none;
}

nav#menu1 > p > a {
    color : #385d05;
    font-weight: bold;
}

@font-face {
    font-family: "Sketch";
    src : url(../../res/Sketch.ttf) format("truetype");
}
