#navigation a {
    display: block ;
    background : url("../IMAGES/fond.jpeg");
    background-size: 250% 300%;
    color: #fff ;
    font: 1em "Trebuchet MS",Arial,sans-serif ;
    line-height: 1em ;
    padding: 4px 0 ;
    text-align: center ;
    width : 200px;
    border-radius: 15px;
    padding:5px;
}

nav
{
	float:left;
	position : relative;
	left: 83%;
    z-index: 1000;	
}

#rech
{
	margin-left : 30px;
	margin-top : 15px;
}
