table, th, td {
    border : 1px black solid;
    border-collapse: collapse;
    text-align : center;
    padding-left : 10px;
    padding-right: 10px;
}
table {
    margin-left: 20px;
}

th:first-letter {
    text-transform: capitalize;
}

th {
    background-color: indianred;
    color: white;
}

tr:nth-child(odd) {
    background-color: darkgrey;
}
